* {
  // COLORS FROM NEOVIM VAGUE COLORSCHEME
  // https://github.com/vague-theme/vague.nvim
  display-drun: rgba ( 196, 130, 130, 100 % );
  accent:       rgba ( 174, 174, 209, 100% );
  border:       rgba ( 28, 28, 36, 100% );
  text:         rgba ( 205, 205, 205, 100% );
  bg:           rgba ( 20, 20, 21, 100% );

  // COLORS FROM NEOVIM EVERFOREST COLORSCHEME
  // https://github.com/neanias/everforest-nvim
  everforest-display-drun: rgba ( 127, 187, 179, 100 % );
  everforest-accent:       rgba ( 167, 192, 128, 100% );
  everforest-border:       rgba ( 39, 46, 51, 100% );
  everforest-text:         rgba ( 211, 198, 170, 100% );
  everforest-bg:           rgba ( 30, 35, 38, 100% );

  // COLORS FROM NEOVIM KODA COLORSCHEME
  // https://github.com/oskarnurm/koda.nvim
  koda-display-drun: rgba ( 142, 190, 236, 100 % );
  koda-accent:       rgba ( 217, 186, 115, 100% );
  koda-border:       rgba ( 39, 39, 39, 100% );
  koda-text:         rgba ( 176, 176, 176 ,100% );
  koda-bg:           rgba ( 16, 16, 16, 100% );

  background-color: @bg;
}

inputbar {
  padding: 5;
}

prompt {
  text-color: @display-drun;
}

entry {
  text-color: @text;
  cursor-color: @display-drun;
  cursor-width: 4;
}

window {
  padding: 15;
  border: 2;
  border-color: @border;
  height: 30%;
  width: 13%;
}


element {
  padding: 5;
  margin: 4;
}

element-text {
  padding: 3px;
  text-color: @text;
}


element-text.selected {
  padding: 4px;
  background-color: @accent;
  width: 10;
  text-color: @bg;
  highlight: None;
}

